body{
    background: rgb(231, 221, 84);
    margin: 7px;
}





h1{
    margin-left: 800px;
}

.navigator ul{
 
 
    margin: 0;
    padding: 25px 55px;
    list-style: none;
    background-color: brown;
}

.navigator ul li{

    display:inline-block ;
}

.navigator ul li a{
padding: 0.5rem;
transition: all 0.7s linear;
border-radius: 5px;

}

.navigator ul li a:hover{
background: #4a4a4a;

}

